<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rafaelfelipeac.sweetdreams"
    android:versionCode="1"
    android:versionName="1.3">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.rafaelfelipeac.sweetdreams.activity.FormDreamsActivity"
            android:label="@string/form_activity"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.rafaelfelipeac.sweetdreams.activity.DreamsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rafaelfelipeac.sweetdreams.activity.DreamsActivity" />
        </activity>
        <activity
            android:name="com.rafaelfelipeac.sweetdreams.activity.DreamsActivity"
            android:label=""
            android:launchMode="singleTask"
            android:parentActivityName="com.rafaelfelipeac.sweetdreams.activity.MainNavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rafaelfelipeac.sweetdreams.activity.MainNavDrawerActivity" />
        </activity>
        <activity
            android:name="com.rafaelfelipeac.sweetdreams.activity.MainNavDrawerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rafaelfelipeac.sweetdreams.activity.SettingsActivity"
            android:label="@string/settings_activity"
            android:parentActivityName="com.rafaelfelipeac.sweetdreams.activity.MainNavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rafaelfelipeac.sweetdreams.activity.MainNavDrawerActivity" />
        </activity>
        <activity
            android:name="com.rafaelfelipeac.sweetdreams.activity.CalendarActivity"
            android:label="@string/calendar_activity"
            android:parentActivityName="com.rafaelfelipeac.sweetdreams.activity.MainNavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rafaelfelipeac.sweetdreams.activity.MainNavDrawerActivity" />
        </activity>
        <activity
            android:name="com.rafaelfelipeac.sweetdreams.activity.FavoriteActivity"
            android:label="@string/favorite_activity"
            android:parentActivityName="com.rafaelfelipeac.sweetdreams.activity.MainNavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rafaelfelipeac.sweetdreams.activity.MainNavDrawerActivity" />
        </activity>
        <activity
            android:name="com.rafaelfelipeac.sweetdreams.activity.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.rafaelfelipeac.sweetdreams.activity.SameDayActivity"
            android:label=""
            android:parentActivityName="com.rafaelfelipeac.sweetdreams.activity.CalendarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rafaelfelipeac.sweetdreams.activity.CalendarActivity" />
        </activity>
    </application>

</manifest>